<div *ngIf="weatherDataProps" class="weather-widget__data">
  <div class="row weather-widget__data-location">
    <img
      class="weather-widget__current-icon"
      src={{weatherDataProps.current.condition.icon}}
    />
    <div class="col">
      <div class="weather-widget__data-location-city">
        {{ weatherDataProps.location.name }}
      </div>
      <div class="weather-widget__data-date">
        {{
          weatherDataProps.location.localtime_epoch * 1000
            | date : "EEEE dd/MM/yyyy"
        }}
      </div>
    </div>
  </div>
  <div class="weather-widget__current">
    <div class="col weather-widget__temperature">
      <div class="weather-widget__data-temperature-number">
        {{ weatherDataProps.current.temp_c }}
        <span class="weather-widget__data-temperature-measure">
          <sup>o</sup>C
        </span>
      </div>
      <div class="weather-widget__data-description">
        {{ weatherDataProps.current.condition.text }}
      </div>
    </div>
    <div class="col weather-widget__details">
      <div class="row">
        <div class="row weather-widget__details-item">
          <div class="weather-widget__details-item-icon-title-group">
            <img
              src="assets/images/visibility-icon.png"
              alt=""
              class="weather-widget__details-item-icon visibility-icon"
            />
            <p class="weather-widget__details-item-title">Видимость</p>
          </div>
          <p class="weather-widget__details-item-value">
            {{ weatherDataProps.current.vis_km }}км
          </p>
        </div>
        <div class="row weather-widget__details-item">
          <div class="weather-widget__details-item-icon-title-group">
            <img
              src="assets/images/feels-like-icon.png"
              alt=""
              class="feels-like-icon"
            />
            <p class="weather-widget__details-item-title">Ощущается</p>
          </div>
          <div class="weather-widget__details-item-value">
            {{ weatherDataProps.current.feelslike_c }}<sup>o</sup>C
          </div>
        </div>
      </div>
      <div class="row">
        <div class="row weather-widget__details-item">
          <div class="weather-widget__details-item-icon-title-group">
            <img
              src="assets/images/humidity-icon.png"
              alt=""
              class="humidity-icon"
            />
            <p class="weather-widget__details-item-title">Влажность</p>
          </div>
          <p class="weather-widget__details-item-value">
            {{ weatherDataProps.current.humidity }}%
          </p>
        </div>
        <div class="row weather-widget__details-item">
          <div class="weather-widget__details-item-icon-title-group">
            <img
              src="assets/images/wind-icon.png"
              alt=""
              class="wind-icon"
            />
            <p class="weather-widget__details-item-title">Ветер</p>
          </div>
          <p class="weather-widget__details-item-value">
            {{ weatherDataProps.current.wind_kph }} км/ч
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
