/* You can add global styles to this file, and also import other style files */
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  color: white;
  margin: 0;
  font-family: Poppins, "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 18px;
  background-attachment: fixed;
  background: rgb(157, 114, 255);
  background: radial-gradient(
    circle,
    rgba(49, 164, 189, 1) 0%,
    rgba(233, 200, 148, 1) 100%
  );
  background-size: 100%;
  height: 100%;
}

p {
  margin: 0;
}

a,
a:active,
a:visited {
  color: white;
  text-decoration: none;
  transition: opacity ease 0.4s;
}

a:hover {
  opacity: 0.8;
}

.col {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}
